* {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    border-radius: 10px;
}

body {
    background-color: #E9E6E1;
}

h1 {
    text-align: center;
    color: #E9E6E1;
    background-color: #90604c;
    padding: 20px;
    margin: 8px 18px;
}

.linklist {
    list-style-type: none;
    text-align: center;
    color: #b98e77;
    background-color: #b98e77;
    padding: 8px;
    margin: 8px 18px;
   
}

a:link {
    color: #E9E6E1;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #90604c;
}